<div class="mt-3 pt-3 ">
  <h1 class="d-flex justify-content-center">New Restaurant!</h1>
  <div class="mt-3 d-flex justify-content-center">
    <%= link_to "Back to my list", restaurants_path  %>
  </div>

  <%= render 'form', restaurant: @restaurant %>

</div>
